apiVersion: {{ k8s_config.api_version }}
kind: Config
preferences: {}

clusters:
  {% for cluster in k8s_config.clusters %}
  - cluster:
      server: {{ cluster.server }}
      certificate-authority-data: {{ cluster.cert_auth }}
    name: {{ cluster.name }}
  {% endfor %}

users:
  {% for user in k8s_config.users %}
  - name: {{ user.name }}
    client-certificate-data: {{ user.client_certificate_data }}
    client-key-data: {{ user.client_key_data }}
  {% endfor %}

contexts:
  {% for context in k8s_config.contexts %}
  - context:
      name: {{ context.name }}
      user: {{ context.user }}
      cluster: {{ context.cluster }}
  {% endfor %}
